<div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-gray-900">
                Promo codes
            </h1>
            <p class="mt-2 text-sm text-gray-700">
                A list of all the promo codes in the system.
            </p>
            <superstore-admin-search-bar></superstore-admin-search-bar>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <button
                    (click)="openModalEditPromotion()"
                    type="button"
                    class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
                Add promo code
            </button>
        </div>
    </div>
    <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                                ID
                            </th>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900">
                                Label
                            </th>
                            <th scope="col"
                                class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">
                                Amount
                            </th>
                            <th scope="col"
                                class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">
                                Count
                            </th>
                            <th scope="col"
                                class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        <tr *ngFor="let promotion of searchBar | searchPromotions: promotions">
                            <td class="whitespace-nowrap py-4 pl-4 text-center pr-3 text-sm font-medium">
                                # {{ promotion.id }}</td>
                            <td class="whitespace-nowrap px-3 py-4 text-center text-sm text-gray-500">
                                {{ promotion.label }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-center text-sm text-gray-500">
                                {{ promotion.amount | convertCurrency }}
                            </td>
                            <td class="whitespace-nowrap px-3 py-4 text-center text-sm text-gray-500">
                                {{ promotion.count }}
                            </td>
                            <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                <a (click)="editPromotion(promotion)"
                                   class="text-indigo-600 hover:text-indigo-900 hover:cursor-pointer">
                                    Edit
                                </a>
                                <a (click)="deletePromotion(promotion)"
                                   class="text-red-600 hover:text-red-900 hover:cursor-pointer">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<superstore-edit-promotion *ngIf="showModalEditPromotion" [editPromotion]="editedPromotion" (closeModal)="closeModalEditPromotion()"></superstore-edit-promotion>

