<div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="/assets/icon.png" alt="Logo">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign up</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form [formGroup]="formSignUp" (ngSubmit)="signUp()" class="space-y-6">

                <div class="flex space-x-2">
                    <div>
                        <label for="firstName" class="block text-sm font-medium text-gray-700">First name</label>
                        <div class="mt-1">
                            <input formControlName="firstName" placeholder="John" id="firstName" type="text" required
                                   class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div>
                        <label for="lastName" class="block text-sm font-medium text-gray-700">Last name</label>
                        <div class="mt-1">
                            <input formControlName="lastName" placeholder="Doe" id="lastName" type="email" required
                                   class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                    <div class="mt-1">
                        <input formControlName="email" placeholder="john.doe@gmail.com" id="email" type="email" required
                               class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                    <span *ngIf="formSignUp.hasError('error')"
                          class="text-red-600 text-xs">
                        {{ formSignUp.getError('error') }}
                    </span>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <div class="mt-1">
                        <input formControlName="password" placeholder="••••••" id="password" type="password"
                               required
                               class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                    <span *ngIf="formSignUp.hasError('passwordNotMatch')"
                          class="text-red-600 text-xs">
                        Passwords do not match
                    </span>
                </div>

                <div>
                    <label for="confirm-password" class="block text-sm font-medium text-gray-700">
                        Confirm password
                    </label>
                    <div class="mt-1">
                        <input formControlName="confirmPassword" placeholder="••••••" id="confirm-password" type="password" required
                               class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                    <span *ngIf="formSignUp.hasError('passwordNotMatch')"
                          class="text-red-600 text-xs">
                        Passwords do not match
                    </span>
                </div>

                <div class="text-sm">
                    <a routerLink="/auth/sign-in" class="font-medium text-indigo-600 hover:text-indigo-500">
                        Already have an account?
                    </a>
                </div>

                <div>
                    <button [disabled]="!formSignUp.valid"
                            class="mt-8 flex w-full justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 bg-indigo-300"
                            [ngClass]="{'bg-indigo-300 cursor-not-allowed': !formSignUp.valid, 'bg-indigo-600 hover:bg-indigo-700': formSignUp.valid}"
                            type="submit">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
