<div>
    <div class="relative overflow-hidden bg-sky-700 pb-32">
        <nav class="bg-transparent relative z-10 border-b border-teal-500 border-opacity-25 lg:border-none lg:bg-transparent">
            <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
                <div class="relative flex h-16 items-center justify-between lg:border-b lg:border-sky-800">
                    <div class="flex items-center px-2 lg:px-0">

                    </div>
                </div>
            </div>
        </nav>
        <div aria-hidden="true"
             class="inset-y-0 absolute inset-x-0 left-1/2 w-full -translate-x-1/2 transform overflow-hidden lg:inset-y-0">
            <div class="absolute inset-0 flex">
                <div class="h-full w-1/2" style="background-color: #0a527b"></div>
                <div class="h-full w-1/2" style="background-color: #065d8c"></div>
            </div>
            <div class="relative flex justify-center">
                <svg class="flex-shrink-0" width="1750" height="308" viewBox="0 0 1750 308"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M284.161 308H1465.84L875.001 182.413 284.161 308z" fill="#0369a1"/>
                    <path d="M1465.84 308L16.816 0H1750v308h-284.16z" fill="#065d8c"/>
                    <path d="M1733.19 0L284.161 308H0V0h1733.19z" fill="#0a527b"/>
                    <path d="M875.001 182.413L1733.19 0H16.816l858.185 182.413z" fill="#0a4f76"/>
                </svg>
            </div>
        </div>
    </div>

    <main class="relative -mt-32">
        <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 lg:px-8 lg:pb-16">
            <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
                    <aside class="py-6 lg:col-span-3">
                        <nav class="space-y-1">

                            <ng-container *ngFor="let m of menu">
                                <a [routerLink]="m.link"
                                   [ngClass]="
                                   currentRoute === m.link ? 'bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group border-l-4 px-3 py-2 flex items-center text-sm font-medium' :
                                   'border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900 group border-l-4 px-3 py-2 flex items-center text-sm font-medium'">
                                    <img [src]="m.icon"
                                         class="text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                                         alt="icon">
                                    <span class="truncate">
                                        {{ m.label }}
                                    </span>
                                </a>
                            </ng-container>
                        </nav>
                    </aside>

                    <div class="divide-y divide-gray-200 lg:col-span-9">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
