<div class="flex items-center px-6 py-4 md:mx-auto md:max-w-3xl lg:mx-0 lg:max-w-none xl:px-0">
    <div class="w-full">
        <label for="search" class="sr-only">Search</label>
        <div class="relative">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <input
                    (input)="searchProducts($event)"
                    #inputSearch
                    autocomplete="off"
                    id="search"
                    placeholder="Search (CTRL + /)"
                    type="search"
                    class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 text-sm placeholder-gray-500 focus:border-rose-500 focus:text-gray-900 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-rose-500 sm:text-sm">

            <div class="absolute z-10 top-30 left-0 right-0 bg-white"
                 *ngIf="searchBarResult.length > 0">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="relative">
                        <ul class="mt-70 bg-white border border-gray-100 rounded-md shadow-lg max-h-56 overflow-auto">
                            <li class="text-gray-900 hover:bg-gray-50 cursor-pointer px-4 py-2"
                                *ngFor="let product of searchBarResult | search: products">
                                <a (click)="viewProduct(product)">
                                    <div class="view-product">
                                        <div class="product-info">
                                            <span>{{ product.name }}</span>
                                            <span>{{ product.price | convertCurrency }}</span>
                                        </div>
                                        <img [src]="product?.images[0].url"
                                             [alt]="product.name"
                                             class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
