<div class="p-10">
    <div>
        <h2 class="text-lg font-medium leading-6 text-gray-900">
            Addresses
        </h2>
        <p class="mt-1 text-sm text-gray-500">
            Add or remove addresses
        </p>
    </div>

    <superstore-list-addresses (selectedAddress)="selectAddress($event)"></superstore-list-addresses>

    <form [formGroup]="formAddress" (ngSubmit)="buttonAddAddress$.next()">
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <div class="sm:col-span-2">
                <label for="company" class="block text-sm font-medium text-gray-700">Company</label>
                <div class="mt-1">
                    <input
                      formControlName="company"
                      type="text" name="company" id="company"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <div class="mt-1">
                    <input
                      formControlName="address"
                      type="text" name="address" id="address" autocomplete="street-address"
                      required
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span *ngIf="formAddress.errors" class="text-red-600 text-xs">
                        {{ formAddress.getError('address') }}
                    </span>
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="apartment" class="block text-sm font-medium text-gray-700">Apartment, suite,
                    etc.</label>
                <div class="mt-1">
                    <input
                      formControlName="apartment"
                      type="text" name="apartment" id="apartment"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div>
                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                <div class="mt-1">
                    <input
                      formControlName="country"
                      type="text" name="country" id="country" autocomplete="country" required
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span *ngIf="formAddress.errors" class="text-red-600 text-xs">
                        {{ formAddress.getError('country') }}
                    </span>
                </div>
            </div>

            <div>
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <div class="mt-1">
                    <input
                      formControlName="city"
                      type="text" name="city" id="city" autocomplete="address-level2" required
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span *ngIf="formAddress.errors" class="text-red-600 text-xs">
                        {{ formAddress.getError('city') }}
                    </span>
                </div>
            </div>


            <div>
                <label for="zip-code" class="block text-sm font-medium text-gray-700">Zip code</label>
                <div class="mt-1">
                    <input
                      formControlName="zipCode"
                      type="number" name="zip-code" id="zip-code" autocomplete="zip-code"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span *ngIf="formAddress.errors" class="text-red-600 text-xs">
                        {{ formAddress.getError('zipCode') }}
                    </span>
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
                <div class="mt-1">
                    <input
                      formControlName="phone"
                      type="text" name="phone" id="phone" autocomplete="tel"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <span *ngIf="formAddress.errors" class="text-red-600 text-xs">
                        {{ formAddress.getError('phone') }}
                    </span>
                </div>
            </div>
        </div>
        <div class="mt-4 flex justify-end py-4 px-4 sm:px-6">
            <button type="submit"
                    class="ml-5 inline-flex justify-center rounded-md border border-transparent bg-sky-700 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
            >
                {{ formAddress.get('id')?.value ? 'Update' : 'Create' }}
            </button>
        </div>
    </form>
</div>
