<header class="relative bg-white">
    <p class="flex h-10 items-center justify-center bg-indigo-600 px-4 text-sm font-medium text-white sm:px-6 lg:px-8">
        Get free delivery on orders over $100</p>

    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="border-b border-gray-200">
            <div class="flex h-16 items-center">
                <button (click)="toggleResponsiveMenu()" type="button"
                        class="rounded-md bg-white p-2 text-gray-400 lg:hidden">
                    <span class="sr-only">Open menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>

                <!-- Logo -->
                <div class="ml-4 flex lg:ml-0">
                    <a routerLink="/">
                        <span class="sr-only">SuperStore</span>
                        <img class="h-8 w-auto"
                             src="https://user-images.githubusercontent.com/72151831/235196115-4bb52aed-fe25-4ac3-b613-371fb38e1b10.png"
                             alt="">
                    </a>
                </div>

                <!-- Flyout menus -->
                <div class="hidden lg:ml-8 lg:block lg:self-stretch">
                    <div class="flex h-full space-x-8">
                        <div class="flex">
                            <div class="relative flex" routerLink="/">
                                <button type="button"
                                        class="border-transparent text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out"
                                        aria-expanded="false">SuperStore
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ml-4 mr-4 flex-1">
                    <superstore-search-bar></superstore-search-bar>
                </div>

                <div class="ml-auto flex items-center">
                    <ng-container *ngIf="getScreenWidth() > 1024">
                        <superstore-user-menu></superstore-user-menu>
                        <superstore-change-currency></superstore-change-currency>
                    </ng-container>

                    <superstore-cart-icon></superstore-cart-icon>
                </div>
            </div>
        </div>
    </nav>
</header>
