<header class="relative bg-white">
    <p class="flex h-10 items-center justify-center bg-indigo-600 px-4 text-sm font-medium text-white sm:px-6 lg:px-8">
        Get free delivery on orders over $100</p>

    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="border-b border-gray-200">
            <div class="flex h-16 items-center">
                <button (click)="toggleResponsiveMenu()" type="button"
                        class="rounded-md bg-white p-2 text-gray-400 lg:hidden">
                    <span class="sr-only">Open menu</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>

                <!-- Logo -->
                <div class="ml-4 flex lg:ml-0">
                    <a routerLink="/">
                        <span class="sr-only">SuperStore</span>
                        <img class="h-8 w-auto"
                             src="https://user-images.githubusercontent.com/72151831/235196115-4bb52aed-fe25-4ac3-b613-371fb38e1b10.png"
                             alt="">
                    </a>
                </div>

                <!-- Flyout menus -->
                <div class="hidden lg:ml-8 lg:block lg:self-stretch">
                    <div class="flex h-full space-x-8">
                        <div class="flex">
                            <div class="relative flex" routerLink="/">
                                <button type="button"
                                        class="border-transparent text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out"
                                        aria-expanded="false">SuperStore
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ml-4 mr-4 flex-1">
                    <superstore-search-bar></superstore-search-bar>
                </div>

                <div class="ml-auto flex items-center">
                    <ng-container *ngIf="getUserConnected(); else noUser">
                        <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6 relative">

                            <!-- Dropdown Menu -->
                            <label class="dropdown">
                                <div class="dd-button">
                                    <span class="text-sm font-medium text-gray-700 hover:text-gray-800 hover:cursor-pointer">{{ getFirstNameAndLastName() }}</span>
                                </div>

                                <input type="checkbox" class="dd-input" id="user-menu">
                                <ul class="dd-menu">
                                    <li *ngIf="userIsAdmin()">
                                        <span (click)="redirectTo('admin/list-products')"
                                              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:cursor-pointer">
                                            Admin Panel
                                        </span>
                                    </li>
                                    <li>
                                        <span (click)="redirectTo('/order/order-history')"
                                              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:cursor-pointer">
                                            Order History
                                        </span>
                                    </li>
                                    <li>
                                        <a (click)="signOut()"
                                           class="text-sm font-medium text-gray-700 hover:text-gray-800 hover:cursor-pointer">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </label>
                        </div>
                    </ng-container>

                    <ng-template #noUser>
                        <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                            <a routerLink="/sign-in" class="text-sm font-medium text-gray-700 hover:text-gray-800">Sign
                                in</a>
                            <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                            <a routerLink="/sign-up" class="text-sm font-medium text-gray-700 hover:text-gray-800">Create
                                account</a>
                        </div>
                    </ng-template>

                    <superstore-change-currency></superstore-change-currency>

                    <!-- Cart -->
                    <div class="ml-4 flow-root lg:ml-6">
                        <a routerLink="/cart" class="group -m-2 flex items-center p-2">
                            <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                            </svg>
                            <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{ getTotalItemsInCart() }}</span>
                            <span class="sr-only">items in cart, view bag</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
