<div class="container mx-auto px-4 py-16">
    <h1 class="text-2xl font-bold mb-4">Who We Are</h1>
    <p class="mb-3">
        As a young developer, I have created this e-commerce website with the goal of providing an enjoyable and
        convenient shopping experience for our customers.
    </p>

    <p class="mb-3">
        At SuperStore, we are dedicated to offering a wide range of high-quality products to meet your needs. Whether
        you're looking for the latest gadgets, fashion trends, home decor, or any other item, we strive to provide a
        diverse selection to cater to your preferences.
    </p>

    <p class="mb-3">
        Our team works tirelessly to ensure that your shopping experience on our website is seamless and user-friendly.
        We value your privacy and take the necessary steps to protect your personal information. For more details on how
        we handle your data, please refer to our <a routerLink="company/privacy" class="text-blue-500 hover:underline">Privacy Policy
    </a>.
    </p>

    <p class="mb-3">
        If you have any questions, suggestions, or feedback, please don't hesitate to
        <a routerLink="customer-service/contact" class="text-blue-500 hover:underline">
            contact us
        </a>
        We appreciate your support and look forward to serving you.
    </p>
</div>
