<h3 class="sr-only">Recent reviews</h3>

<div class="flow-root">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <ng-container *ngFor="let review of reviews | slice:0:10">
            <div class="-my-12 divide-y divide-gray-200">
                <div class="py-12">
                    <div class="flex items-center">
                        <img
                                src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80"
                                [alt]="'userId ' + user?.id"
                                class="h-12 w-12 rounded-full"
                        />
                        <div class="ml-4">
                            <h4 class="text-sm font-bold text-gray-900">
                                {{ user?.firstName }} {{ user?.lastName }}
                            </h4>
                            <div class="mt-1 flex items-center">
                                <superstore-review-stars [review]="review"></superstore-review-stars>
                            </div>
                            <p class="sr-only">5 out of 5 stars</p>
                        </div>
                    </div>

                    <div class="mt-4 space-y-6 text-base italic text-gray-600">
                        <p>
                            {{ review.description | titlecase }}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
