<ng-container *ngIf="getUserConnected(); else noUser">
    <div class="lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6 relative">

        <!-- Dropdown Menu -->
        <label class="dropdown">
            <div class="dd-button">
                <span class="text-sm font-medium text-gray-700 hover:text-gray-800 hover:cursor-pointer">{{ getFirstNameAndLastName() }}</span>
            </div>

            <input type="checkbox" class="dd-input" id="user-menu">
            <ul class="dd-menu">
                <li *ngIf="userIsAdmin()">
                    <span (click)="redirectTo('admin/list-products')"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:cursor-pointer">
                        Admin Panel
                    </span>
                </li>
                <li>
                    <span (click)="redirectTo('/user/profile')"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:cursor-pointer">
                        My profile
                    </span>
                </li>
                <li>
                    <span (click)="redirectTo('/order/order-history')"
                          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:cursor-pointer">
                        Order History
                    </span>
                </li>
                <li>
                    <a (click)="signOut()"
                       class="text-sm font-medium text-gray-700 hover:text-gray-800 hover:cursor-pointer">
                        Logout
                    </a>
                </li>
            </ul>
        </label>
    </div>
</ng-container>

<ng-template #noUser>
    <ng-container *ngIf="getScreenWidth() < 1024; else desktop">
        <div class="flex flex-col gap-4">
            <a (click)="redirectTo('/auth/sign-in')" class="text-sm font-medium text-gray-700 hover:text-gray-800 hover:cursor-pointer">
                Sign in
            </a>
            <a (click)="redirectTo('/auth/sign-up')" class="text-sm font-medium text-gray-700 hover:text-gray-800 hover:cursor-pointer">
                Create account
            </a>
        </div>
    </ng-container>
    <ng-template #desktop>
        <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
            <a routerLink="/auth/sign-in" class="text-sm font-medium text-gray-700 hover:text-gray-800">
                Sign in
            </a>
            <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
            <a routerLink="/auth/sign-up" class="text-sm font-medium text-gray-700 hover:text-gray-800">
                Create account
            </a>
        </div>
    </ng-template>
</ng-template>
