<div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-12 w-auto" src="/assets/icon.png" alt="Logo">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form [formGroup]="formSignIn" (ngSubmit)="signIn()" class="space-y-6">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                    <div class="mt-1">
                        <input formControlName="email" placeholder="john.doe@gmail.com" id="email" name="email"
                               type="email" required
                               class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                    <span *ngIf="formSignIn.hasError('error')"
                          class="text-red-600 text-xs">
                        {{ formSignIn.getError('error') }}
                    </span>
                </div>

                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <div class="mt-1">
                        <input formControlName="password" placeholder="••••••" id="password" name="password"
                               type="password" required
                               class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="text-sm">
                        <a routerLink="/sign-up" class="font-medium text-indigo-600 hover:text-indigo-500">
                            Don't have an account ?
                        </a>
                    </div>

                    <div class="text-sm">
                        <a
                                (click)="openModalForgotPassword()"
                                class="font-medium text-indigo-600 hover:text-indigo-500 hover:cursor-pointer">
                            Forgot your password?
                        </a>
                    </div>
                </div>

                <div class="mt-12">
                    <button [disabled]="!formSignIn.valid"
                            class="mt-8 flex w-full justify-center rounded-md border border-transparent py-2 px-4 text-sm font-medium text-white shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 bg-indigo-300"
                            [ngClass]="{'bg-indigo-300 cursor-not-allowed': !formSignIn.valid, 'bg-indigo-600 hover:bg-indigo-700': formSignIn.valid}"
                            type="submit">
                        Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<superstore-forgot-password [showModalForgotPassword]="showModalForgotPassword"
                            (closeModal)="closeModalForgotPassword()"></superstore-forgot-password>
