<div class="bg-gray-50">
    <main class="mx-auto max-w-7xl px-4 pt-16 pb-24 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <h1 class="sr-only">Checkout</h1>

            <form [formGroup]="formAddress" (ngSubmit)="submitForm()"
                  class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16">
                <div>
                    <h2 class="text-lg font-medium text-gray-900">Shipping information</h2>

                    <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                        <div class="sm:col-span-2">
                            <label for="company" class="block text-sm font-medium text-gray-700">Company</label>
                            <div class="mt-1">
                                <input
                                        formControlName="company"
                                        type="text" name="company" id="company"
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                            <div class="mt-1">
                                <input
                                        formControlName="address"
                                        type="text" name="address" id="address" autocomplete="street-address"
                                        required
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="apartment" class="block text-sm font-medium text-gray-700">Apartment, suite,
                                etc.</label>
                            <div class="mt-1">
                                <input
                                        formControlName="apartment"
                                        type="text" name="apartment" id="apartment"
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div>
                            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                            <div class="mt-1">
                                <input
                                        formControlName="country"
                                        type="text" name="country" id="country" autocomplete="country" required
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div>
                            <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                            <div class="mt-1">
                                <input
                                        formControlName="city"
                                        type="text" name="city" id="city" autocomplete="address-level2" required
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>


                        <div>
                            <label for="postal-code" class="block text-sm font-medium text-gray-700">Postal
                                code</label>
                            <div class="mt-1">
                                <input
                                        formControlName="postalCode"
                                        type="text" name="postal-code" id="postal-code" autocomplete="postal-code"
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
                            <div class="mt-1">
                                <input
                                        formControlName="phone"
                                        type="text" name="phone" id="phone" autocomplete="tel"
                                        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                    </div>

                    <div class="mt-10 border-t border-gray-200 pt-10">
                        <fieldset>
                            <legend class="text-lg font-medium text-gray-900">Addresses</legend>

                            <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">

                                <!--List addresses-->
                                <label
                                        (click)="changeAddress(address)"
                                        *ngFor="let address of addresses"
                                        class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                                        [ngClass]="{'border-transparent ring-2 ring-indigo-500': address.id === selectedAddress?.id, 'border-gray-300': address.id !== selectedAddress?.id}">
                                    <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                                           aria-labelledby="delivery-method-0-label"
                                           aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
                                    <span class="flex flex-1">
                                        <span class="flex flex-col">
                                          <span class="block text-sm font-medium text-gray-900">{{ address.country }}</span>
                                          <span class="mt-1 flex items-center text-sm text-gray-500">{{ address.address }}</span>
                                          <span class="mt-1 flex items-center text-sm text-gray-400">{{ address.city }}</span>
                                          <span class="mt-1 flex items-center text-sm text-gray-400">{{ address.zipCode }}</span>
                                          <span class="mt-6 text-sm font-medium text-gray-900">{{ address.phone }}</span>
                                        </span>
                                    </span>
                                    <svg
                                            *ngIf="address.id === selectedAddress?.id"
                                            class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="pointer-events-none absolute -inset-px rounded-lg border-2"
                                          aria-hidden="true"></span>
                                </label>

                                <!--Add new address-->
                                <label
                                        (click)="clearFormAddress()"
                                        class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                                        [ngClass]="{'border-transparent ring-2 ring-indigo-500': !selectedAddress, 'border-gray-300': selectedAddress}">
                                    <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                                           aria-labelledby="delivery-method-0-label"
                                           aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
                                    <span class="flex flex-1 justify-center items-center">
                                          <span class="block text-sm font-medium">Add a new address</span>
                                    </span>
                                    <svg
                                            *ngIf="!selectedAddress"
                                            class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="pointer-events-none absolute -inset-px rounded-lg border-2"
                                          aria-hidden="true"></span>
                                </label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="mt-10 border-t border-gray-200 pt-10">
                        <fieldset>
                            <legend class="text-lg font-medium text-gray-900">Delivery method</legend>

                            <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                                <label
                                        *ngFor="let deliveryMethod of deliveryMethods"
                                        (click)="changeDeliveryMethod(deliveryMethod)"
                                        [ngClass]="{'border-transparent ring-2 ring-indigo-500': deliveryMethod.name === selectedDeliveryMethod?.name, 'border-gray-300': deliveryMethod.name !== selectedDeliveryMethod?.name}"
                                        class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
                                    <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                                           aria-labelledby="delivery-method-0-label"
                                           aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
                                    <span class="flex flex-1">
                                        <span class="flex flex-col">
                                          <span id="delivery-method-0-label"
                                                class="block text-sm font-medium text-gray-900">{{ deliveryMethod.name }}</span>
                                          <span id="delivery-method-0-description-0"
                                                class="mt-1 flex items-center text-sm text-gray-500">{{ deliveryMethod.expectedDelivery }}</span>
                                          <span id="delivery-method-0-description-1"
                                                class="mt-6 text-sm font-medium text-gray-900">{{ deliveryMethod.price | convertCurrency }}</span>
                                        </span>
                                    </span>
                                    <svg
                                            *ngIf="deliveryMethod.name === selectedDeliveryMethod?.name"
                                            class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                    <span class="pointer-events-none absolute -inset-px rounded-lg border-2"
                                          aria-hidden="true"></span>
                                </label>
                            </div>
                        </fieldset>
                    </div>

                    <!-- Payment -->
                    <div class="mt-10 border-t border-gray-200 pt-10">
                        <h2 class="text-lg font-medium text-gray-900">Payment</h2>

                        <fieldset class="mt-4">
                            <legend class="sr-only">Payment type</legend>
                            <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
                                <div class="flex items-center">
                                    <input id="credit-card" name="payment-type" type="radio" checked
                                           class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                    <label for="credit-card" class="ml-3 block text-sm font-medium text-gray-700">Credit
                                        card</label>
                                </div>

                                <div class="flex items-center">
                                    <input id="paypal" name="payment-type" type="radio"
                                           class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                    <label for="paypal"
                                           class="ml-3 block text-sm font-medium text-gray-700">PayPal</label>
                                </div>

                                <div class="flex items-center">
                                    <input id="etransfer" name="payment-type" type="radio"
                                           class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500">
                                    <label for="etransfer" class="ml-3 block text-sm font-medium text-gray-700">eTransfer</label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="mt-6 grid grid-cols-4 gap-y-6 gap-x-4">
                            <div class="col-span-4">
                                <label for="card-number" class="block text-sm font-medium text-gray-700">Card
                                    number</label>
                                <div class="mt-1">
                                    <input type="text" id="card-number" name="card-number" autocomplete="cc-number"
                                           class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                </div>
                            </div>

                            <div class="col-span-4">
                                <label for="name-on-card" class="block text-sm font-medium text-gray-700">Name on
                                    card</label>
                                <div class="mt-1">
                                    <input type="text" id="name-on-card" name="name-on-card" autocomplete="cc-name"
                                           class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                </div>
                            </div>

                            <div class="col-span-3">
                                <label for="expiration-date" class="block text-sm font-medium text-gray-700">Expiration
                                    date (MM/YY)</label>
                                <div class="mt-1">
                                    <input type="text" name="expiration-date" id="expiration-date" autocomplete="cc-exp"
                                           class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                </div>
                            </div>

                            <div>
                                <label for="cvc" class="block text-sm font-medium text-gray-700">CVC</label>
                                <div class="mt-1">
                                    <input type="text" name="cvc" id="cvc" autocomplete="csc"
                                           class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order summary -->
                <div class="mt-10 lg:mt-0">
                    <h2 class="text-lg font-medium text-gray-900">Order summary</h2>

                    <div class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm">
                        <h3 class="sr-only">Items in your cart</h3>
                        <ul role="list" class="divide-y divide-gray-200">
                            <ng-container *ngFor="let item of cart">
                                <li class="flex py-6 px-4 sm:px-6">
                                    <div class="flex-shrink-0">
                                        <a routerLink="/product/{{ convertProductNameToSlug(item?.name) }}">
                                            <img src="https://tailwindui.com/img/ecommerce-images/checkout-page-02-product-01.jpg"
                                                 [alt]="item?.name" class="w-20 rounded-md">
                                        </a>
                                    </div>

                                    <div class="ml-6 flex flex-1 flex-col">
                                        <div class="flex">
                                            <div class="min-w-0 flex-1">
                                                <h4 class="text-sm">
                                                    <a routerLink="/product/{{ convertProductNameToSlug(item?.name) }}"
                                                       class="font-medium text-gray-700 hover:text-gray-800">{{ item?.name }}</a>
                                                </h4>
                                                <p class="mt-1 text-sm text-gray-500">
                                                    {{ item?.size?.name }}
                                                </p>
                                                <p class="mt-1 text-sm font-medium text-gray-900">
                                                    {{ item?.price | convertCurrency }}
                                                </p>
                                            </div>

                                            <div class="ml-4">
                                                <label for="quantity-1" class="sr-only">Quantity, Basic Tee</label>
                                                <select
                                                        [(ngModel)]="item.quantity"
                                                        [ngModelOptions]="{ standalone: true }"
                                                        (change)="updateQuantity(item, $event)"
                                                        id="quantity-1" name="quantity-1"
                                                        class="max-w-full rounded-md border border-gray-300 py-1.5 text-left text-base font-medium leading-5 text-gray-700 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm">
                                                    <option *ngFor="let value of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
                                                            [value]="value">{{ value }}</option>
                                                </select>
                                            </div>

                                            <div class="ml-4 flow-root flex-shrink-0">
                                                <button (click)="removeFromCart(item)"
                                                        type="button"
                                                        class="-m-2.5 flex items-center justify-center bg-white p-2.5 text-gray-400 hover:text-gray-500">
                                                    <span class="sr-only">Remove</span>
                                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd"
                                                              d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
                                                              clip-rule="evenodd"/>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>

                        <dl class="space-y-6 border-t border-gray-200 py-6 px-4 sm:px-6">
                            <div class="flex items-center justify-between">
                                <dt class="text-sm">Subtotal</dt>
                                <dd class="text-sm font-medium text-gray-900">{{ subTotalPrice() | convertCurrency }}</dd>
                            </div>
                            <div class="flex items-center justify-between">
                                <dt class="text-sm">Shipping</dt>
                                <dd class="text-sm font-medium text-gray-900">
                                    {{ shippingPrice | convertCurrency }}
                                </dd>
                            </div>
                            <div class="flex items-center justify-between">
                                <dt class="text-sm">Taxes</dt>
                                <dd class="text-sm font-medium text-gray-900">
                                    {{ taxes() | convertCurrency }}
                                </dd>
                            </div>
                            <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                                <dt class="text-base font-medium">Total</dt>
                                <dd class="text-base font-medium text-gray-900">
                                    {{ totalPrice() | convertCurrency }}
                                </dd>
                            </div>
                        </dl>

                        <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
                            <button type="submit"
                                    [disabled]="formAddress.invalid"
                                    [ngClass]="{ 'cursor-not-allowed opacity-50': formAddress.invalid }"
                                    class="w-full rounded-md border border-transparent bg-indigo-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">
                                Confirm order
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
