<div class="p-10">
    <fieldset>
        <legend class="text-lg font-medium text-gray-900">
            My addresses
        </legend>

        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">

            <!--List addresses-->
            <label
                    *ngFor="let address of addresses"
                    class="relative flex rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
                <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                       aria-labelledby="delivery-method-0-label"
                       aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
                <span class="flex flex-1">
                    <span class="flex flex-col">
                      <span class="block text-sm font-medium text-gray-900">{{ address.country }}</span>
                      <span class="mt-1 flex items-center text-sm text-gray-500">{{ address.address }}</span>
                      <span class="mt-1 flex items-center text-sm text-gray-400">{{ address.city }}</span>
                      <span class="mt-1 flex items-center text-sm text-gray-400">{{ address.zipCode }}</span>
                      <span class="mt-6 text-sm font-medium text-gray-900">{{ address.phone }}</span>
                    </span>
                </span>
                <span
                        (click)="removeAddress(address)"
                        class="cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                    </svg>
                </span>
            </label>

            <!--Add new address-->
            <label
                    (click)="clearFormAddress()"
                    class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
                <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                       aria-labelledby="delivery-method-0-label"
                       aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
                <span class="flex flex-1 justify-center items-center">
                                          <span class="block text-sm font-medium">Add a new address</span>
                                    </span>
            </label>
        </div>
    </fieldset>
</div>
