<div class="p-10">
    <div>
        <h2 class="text-lg font-medium leading-6 text-gray-900">
            Addresses
        </h2>
        <p class="mt-1 text-sm text-gray-500">
            Add or remove addresses
        </p>
    </div>

    <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">

        <!--List addresses-->
        <label
                (click)="selectAddress(address)"
                *ngFor="let address of addresses"
                class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                [ngClass]="{'border-transparent ring-2 ring-indigo-500': address.id === selectedAddress?.id, 'border-gray-300': address.id !== selectedAddress?.id}">
            <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                   aria-labelledby="delivery-method-0-label"
                   aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
            <span class="flex flex-1">
                <span class="flex flex-col">
                  <span class="block text-sm font-medium text-gray-900">{{ address.country }}</span>
                  <span class="block text-sm font-medium text-gray-900">{{ address?.company }}</span>
                  <span class="mt-1 flex items-center text-sm text-gray-500">{{ address.address }}</span>
                  <span class="mt-1 flex items-center text-sm text-gray-400">{{ address.city }}</span>
                  <span class="mt-1 flex items-center text-sm text-gray-400">{{ address.zipCode }}</span>
                  <span class="mt-6 text-sm font-medium text-gray-900">{{ address.phone }}</span>
                </span>
            </span>
            <div (click)="removeAddress(address)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                </svg>
            </div>
        </label>

        <!--Add new address-->
        <label
                (click)="clearFormAddress()"
                class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                [ngClass]="{'border-transparent ring-2 ring-indigo-500': !selectedAddress, 'border-gray-300': selectedAddress}">
            <input type="radio" name="delivery-method" value="Standard" class="sr-only"
                   aria-labelledby="delivery-method-0-label"
                   aria-describedby="delivery-method-0-description-0 delivery-method-0-description-1">
            <span class="flex flex-1 justify-center items-center">
                                          <span class="block text-sm font-medium">Add a new address</span>
                                    </span>
            <svg
                    *ngIf="!selectedAddress"
                    class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                      clip-rule="evenodd"/>
            </svg>
            <span class="pointer-events-none absolute -inset-px rounded-lg border-2"
                  aria-hidden="true"></span>
        </label>
    </div>

    <form [formGroup]="formAddress" (ngSubmit)="submitForm()">
        <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
            <div class="sm:col-span-2">
                <label for="company" class="block text-sm font-medium text-gray-700">Company</label>
                <div class="mt-1">
                    <input
                            formControlName="company"
                            type="text" name="company" id="company"
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <div class="mt-1">
                    <input
                            formControlName="address"
                            type="text" name="address" id="address" autocomplete="street-address"
                            required
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="apartment" class="block text-sm font-medium text-gray-700">Apartment, suite,
                    etc.</label>
                <div class="mt-1">
                    <input
                            formControlName="apartment"
                            type="text" name="apartment" id="apartment"
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div>
                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                <div class="mt-1">
                    <input
                            formControlName="country"
                            type="text" name="country" id="country" autocomplete="country" required
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div>
                <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                <div class="mt-1">
                    <input
                            formControlName="city"
                            type="text" name="city" id="city" autocomplete="address-level2" required
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>


            <div>
                <label for="postal-code" class="block text-sm font-medium text-gray-700">Postal
                    code</label>
                <div class="mt-1">
                    <input
                            formControlName="zipCode"
                            type="text" name="postal-code" id="postal-code" autocomplete="postal-code"
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>

            <div class="sm:col-span-2">
                <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
                <div class="mt-1">
                    <input
                            formControlName="phone"
                            type="text" name="phone" id="phone" autocomplete="tel"
                            class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
        </div>
        <div class="mt-4 flex justify-end py-4 px-4 sm:px-6">
            <button
              (click)="clearFormAddress()"
              type="button"
                    class="inline-flex justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">
                Cancel
            </button>
            <button type="submit"
                    class="ml-5 inline-flex justify-center rounded-md border border-transparent bg-sky-700 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
                    [ngClass]="!formAddress.valid ? 'cursor-not-allowed opacity-50' : ''">
                Save
            </button>
        </div>
    </form>
</div>
