<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
                <div class="mt-3 text-center sm:mt-5">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 mb-3" id="modal-title">
                        {{ productToReview?.name }}
                    </h3>
                </div>
                <form [formGroup]="formAddReview" (ngSubmit)="submitForm()">
                    <div class="mb-3">
                        <label class="block text-sm font-medium text-gray-700">Rating</label>
                        <div class="mt-1">
                            <ng-container *ngFor="let r of [1, 2, 3, 4, 5]">
                                <div class="inline-flex justify-center items-center mr-2">
                                    <svg [ngClass]="{'text-yellow-400': r < highlightedRating, 'text-gray-300': r >= highlightedRating}"
                                         class="h-10 w-10 flex-shrink-0 hover:cursor-pointer"
                                         (click)="setRating(r)"
                                         (mouseenter)="highlightRating(r + 1)"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                         fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                        <div class="mt-1">
                            <textarea formControlName="description" id="description" type="text" required rows="5"
                                      class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </textarea>
                            <span
                                    *ngIf="formAddReview.hasError('error')"
                                    class="text-red-500 text-xs italic">
                                {{ formAddReview.getError('error') }}
                            </span>
                        </div>
                    </div>
                    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                        <button
                                [disabled]="!formAddReview.valid"
                                type="submit"
                                class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                                [ngClass]="!formAddReview.valid ? 'cursor-not-allowed opacity-50' : ''">
                            Add
                        </button>
                        <button
                                (click)="closeModal()"
                                type="button"
                                class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
