<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div
              class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
                <div class="mt-3 text-center sm:mt-5">
                    <h3 class="text-lg font-medium leading-6 text-gray-900 mb-3" id="modal-title">
                        {{ editProduct?.id ? editProduct.name : 'Add new product' }}
                    </h3>
                </div>
                <form [formGroup]="formAddProduct" (ngSubmit)="submitForm()">
                    <div class="mb-3">
                        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                        <div class="mt-1">
                            <input formControlName="name" id="name" type="text" required
                                   class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <span *ngIf="formAddProduct.hasError('name')" class="text-red-600 text-xs">
                          {{ formAddProduct.getError('error') }}
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                        <div class="mt-1">
                            <input formControlName="description" id="description" type="text" required
                                   class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                        <span *ngIf="formAddProduct.hasError('description')" class="text-red-600 text-xs">
                          {{ formAddProduct.getError('error') }}
                        </span>
                    </div>
                    <div class="flex space-x-2 mb-3">
                        <div>
                            <label for="price" class="block text-sm font-medium text-gray-700">Price (€)</label>
                            <div class="mt-1">
                                <input formControlName="price" id="price" type="number" min="1" required
                                       class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </div>
                            <span *ngIf="formAddProduct.hasError('price')" class="text-red-600 text-xs">
                                {{ formAddProduct.getError('error') }}
                          </span>
                        </div>
                        <div>
                            <label for="categories" class="block text-sm font-medium text-gray-700">Category</label>
                            <div class="mt-1">
                                <input formControlName="categories" id="categories" type="email" required
                                       class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </div>
                            <span *ngIf="formAddProduct.hasError('category')" class="text-red-600 text-xs">
                            {{ formAddProduct.getError('error') }}
                          </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="block text-sm font-medium text-gray-700">Images URL</label>
                        <div class="mt-1">
                            <textarea rows="5" formControlName="images" id="images" type="text" required
                                      placeholder="https://example.com/image1.jpg, https://example.com/image2.jpg"
                                      class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                            </textarea>
                            <span *ngIf="formAddProduct.controls.images.value?.trim() === ''"
                                  class="text-blue-500 text-xs">
                                Use ',' to separate images
                                </span>
                        </div>
                        <span *ngIf="formAddProduct.hasError('images')" class="text-red-600 text-xs">
                          {{ formAddProduct.getError('error') }}
                      </span>
                    </div>
                    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                        <button
                          [disabled]="!formAddProduct.valid"
                          type="submit"
                          class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                          [ngClass]="!formAddProduct.valid ? 'cursor-not-allowed opacity-50' : ''">
                            {{ editProduct?.id ? 'Update' : 'Add' }}
                        </button>
                        <button
                          (click)="closeModalAddProduct()"
                          type="button"
                          class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
