<aside>
    <div class="flex items-center gap-2 filter-container">
        <span (click)="toggleFilterResponsive()"
              class="text-sm font-medium text-gray-700 p-2 hover:cursor-pointer">Filters</span>

        <span class="ml-2 flex flex-shrink-0 text-gray-400">
            <ng-container *ngFor="let category of categories">
                <span
                    [class.hidden]="!category.checked"
                    (click)="resetFilter('category')"
                    class="border-2 border-gray-200 rounded-full p-1 hover:cursor-pointer">
                    {{ category.label }}
                </span>
            </ng-container>
        </span>

        <span class="ml-2 flex flex-shrink-0 text-gray-400">
            <ng-container *ngFor="let sort of label">
                <span
                    [class.hidden]="!sort.checked"
                    (click)="resetFilter('label')"
                    class="border-2 border-gray-200 rounded-full p-1 hover:cursor-pointer">
                    {{ sort.displayName }}
                </span>
            </ng-container>
        </span>

        <span class="ml-2 flex flex-shrink-0 text-gray-400">
            <ng-container *ngFor="let price of filterPrice">
                <span
                    [class.hidden]="!price.checked"
                    (click)="resetFilter('priceRange')"
                    class="border-2 border-gray-200 rounded-full p-1 hover:cursor-pointer">
                    {{ price.displayName }}
                </span>
            </ng-container>
        </span>
    </div>


    <div class="hidden lg:block w-36">
        <form class="space-y-10 divide-y divide-gray-200">
            <!--Sort by-->
            <div class="pt-10">
                <fieldset>
                    <legend class="block text-sm font-medium text-gray-900">
                        Sort by
                    </legend>
                    <div class="space-y-3 pt-6">
                        <div
                            *ngFor="let sort of label"
                            class="flex items-center">
                            <input
                                (click)="setFilter('label', $event)"
                                [id]="sort.value"
                                [checked]="sort.checked"
                                type="checkbox"
                                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            <label [for]="sort.displayName" class="ml-3 text-sm text-gray-600">
                                {{ sort.displayName }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!--Filter price-->
            <div class="pt-10">
                <fieldset>
                    <legend class="block text-sm font-medium text-gray-900">
                        Price
                    </legend>
                    <div class="space-y-3 pt-6">
                        <div
                            *ngFor="let filter of filterPrice"
                            class="flex items-center">
                            <input
                                (click)="setFilter('priceRange', $event)"
                                [id]="filter.value"
                                [checked]="filter.checked"
                                type="checkbox"
                                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            <label [for]="filter.displayName" class="ml-3 text-sm text-gray-600">
                                {{ filter.displayName }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!--Categories-->
            <div class="pt-10">
                <fieldset>
                    <legend class="block text-sm font-medium text-gray-900">
                        Categories
                    </legend>
                    <div class="space-y-3 pt-6">
                        <div
                            *ngFor="let category of categories"
                            class="flex items-center">
                            <input
                                (click)="setFilter('category', $event)"
                                [id]="category.label"
                                [checked]="category.checked"
                                type="checkbox"
                                class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            <label [for]="category.label" class="ml-3 text-sm text-gray-600">
                                {{ category.label | titlecase }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</aside>