.filter-container {
    width: 100%;
    padding: 8px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9bc0d4;
    border-radius: 8px;
}